<!-- Footer -->
<div id="footer">
  
  <!-- Copyright -->
  <ul class="copyright">
    {% if site.author %}
      <li>&copy; {{- site.author -}}&nbsp;2021</li>
      <li>Built using <a href="https://jekyllrb.com/">Jekyll</a> and the <a href="https://github.com/chrisbobbe/jekyll-theme-prologue">Prologue</a> theme.</li>
    {% endif %}
  </ul>
  
</div>
