<!-- Social Icons -->
<style>
.col3 {
  max-width: 20%;
  margin-left: 3%;
  margin-right: 3%;
}
.col2 {
  max-width: 35%;
  margin-left: 5%;
  margin-right: 5%;
}
.testdiv {
  display: flex;
  text-align: center;
  display: inline-block;
}
</style>
<ul class="testdiv">
  <a href="http://cnrs.fr/"><img src="assets/images/logos/cnrs.png" class="col3"/></a>
  <a href="https://www.uphf.fr/graisyhm/"><img src="assets/images/logos/graisyhm.png" class="col3"/></a>
  <a href="https://www.hautsdefrance.fr/"><img src="assets/images/logos/hdf.png" class="col3"/></a>
  <a href="https://www.hds.utc.fr/"><img src="assets/images/logos/hds.png" class="col2"/></a>
  <a href="https://www.utc.fr/"><img src="assets/images/logos/utc.png" class="col2"/></a>
</ul>
